services:
  mt5:
    build: .
    container_name: mt5
    restart: unless-stopped
    ports:
      - "3001:8080"
    volumes:
      - mt5-dev-data:/root
    shm_size: '256mb'

volumes:
  mt5-dev-data:
