services:
  mt5:
    image: ejtrader/metatrader:5
    container_name: mt5
    restart: unless-stopped
    ports:
      - "5900:5900"     # VNC (use any VNC viewer to connect)
      - "15555:15555"   # ejtraderMT API port 1
      - "15556:15556"   # ejtraderMT API port 2
      - "15557:15557"   # ejtraderMT API port 3
      - "15558:15558"   # ejtraderMT API port 4
    volumes:
      - mt5-data:/data

volumes:
  mt5-data:
